{% extends "pdsBlogBundle::layout.html.twig" %}
{% block menu %}
  <ul>
    <li class="title">Nejnovější</li>
    {% for new in news %}      
    <li><a href="">{{ new.getTitle }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
{% block content %}
  {% for article in articles %}
    <div class="article">
      <h1>{{ article.getTitle }}</h1>
      <p>{{ article.getText|slice(0, 200) }} ... <a href="" title="">celý článek</a></p>
      <p class="date">Přidáno: {{ article.getDate|date('d.m.Y | H:i') }}</p>
    </div>
  {% endfor %}
{% endblock %}